<div class="container">
  <div class="slider">
    <div class="item">
      <div class="content">
        <h3 class="name">Test</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          voluptates accusamus voluptatem rerum quibusdam amet ullam ab nihil
          cupiditate qui, modi commodi reprehenderit accusantium odit reiciendis
          libero distinctio aut ipsam!
        </p>
      <button class="more">See more</button>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <h3 class="name">Test</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          voluptates accusamus voluptatem rerum quibusdam amet ullam ab nihil
          cupiditate qui, modi commodi reprehenderit accusantium odit reiciendis
          libero distinctio aut ipsam!
        </p>
        <button class="more">See more</button>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <h3 class="name">Test</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          voluptates accusamus voluptatem rerum quibusdam amet ullam ab nihil
          cupiditate qui, modi commodi reprehenderit accusantium odit reiciendis
          libero distinctio aut ipsam!
        </p>
    <button class="more">See more</button>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <h3 class="name">Test</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          voluptates accusamus voluptatem rerum quibusdam amet ullam ab nihil
          cupiditate qui, modi commodi reprehenderit accusantium odit reiciendis
          libero distinctio aut ipsam!
        </p>
      <button class="more">See more</button>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <h3 class="name">Test</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          voluptates accusamus voluptatem rerum quibusdam amet ullam ab nihil
          cupiditate qui, modi commodi reprehenderit accusantium odit reiciendis
          libero distinctio aut ipsam!
        </p>
      <button class="more">See more</button>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <h3 class="name">Test</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          voluptates accusamus voluptatem rerum quibusdam amet ullam ab nihil
          cupiditate qui, modi commodi reprehenderit accusantium odit reiciendis
          libero distinctio aut ipsam!
        </p>
      <button class="more">See more</button>
      </div>
    </div>
   
  </div>
  <div class="button">
    <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
    <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>