<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
  <!-- <header class="section-header"> -->
    <div class="container header-container">
      <a href="./index.html"><img src="./images/logo-vector.png" alt="logo"></a>
      <nav class="navigation-bar">

        <ul class="navigation-ul">
          <li class="home-style"><a href="" class="home-link">Home</a></li>
          <li class="home-style"><a href="" class="navigation-link">About</a></li>
          <li class="home-style"><a href="" class="navigation-link">Service</a></li>
          <li class="home-style"><a href="" class="navigation-link">Menu</a></li>
          <li class="home-style"><a href="" class="navigation-link">Contact</a></li>
        </ul>
      </nav>

      <button type="button" class="button-header">Order now</button>
    </div>


    
</header>
